@import url('https://fonts.googleapis.com/css?family=Merriweather|Fira+Sans&display=swap');
/* importing a font from googlefonts.com */

.App{
  margin: 0 auto;
  color:white;
}

.inputField{
  text-align: center;
  margin-top: 10px;
}