@import url('https://fonts.googleapis.com/css?family=Merriweather|Fira+Sans&display=swap');
/* importing a font from googlefonts.com */

.App{
  margin: 0 auto;
  color:white;
}
.card{
  margin:0 auto;
  align-items: center;
  background: linear-gradient(to bottom, red, pink);
  width: 200px;
  height: 240px;
  display:flex;
  flex-direction:column;
  justify-content: space-around;
  border-radius: 15px;
}

.city{
  font-family: 'Merriweather', sans-serif;
  font-size: 1.6rem;
}

.location{
  text-align:center;
}

.country{
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.1rem;
}

.temp{
  font-family: 'Fira Sans', sans-serif;
  font-size: 2rem;
  font-weight: 200;
}

.condition{
  font-family: 'Merriweather', sans-serif;
  font-size: 1.2rem;
}

.icon{
  width: 40%;
}